---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

// Override So Simple theme variables for full-width layout
$main-max-width: 95vw;
$main-sidebar-max-width: 95vw;

@import "so-simple";