Host sandbox-*
    User _default_user_
    ProxyCommand ~/.docker/sbx/bin/sbx ssh proxy %n
    IdentityAgent none
    IdentitiesOnly yes
    UserKnownHostsFile ~/.config/sandboxes/sandboxes/ssh/known_hosts
    KnownHostsCommand /bin/sh -c "exec $HOME/.docker/sbx/bin/sbx ssh known-hosts %H"
    ControlMaster auto
    ControlPersist yes
    ControlPath .vscode/.ssh-sockets/%r@%h-%p
    Ciphers chacha20-poly1305@openssh.com,aes128-gcm@openssh.com
    KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org
    ServerAliveInterval 60
    ServerAliveCountMax 3
    StrictHostKeyChecking accept-new
    ConnectTimeout 10
